body {
    margin:0;
    font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.container {
    margin:0px 166px;
}

.header {
    background-image: url(bg.png);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-line {
    padding-top: 50px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color:#fff;
    text-decoration: none;
    font-weight:700;
    font-size:14px;

    margin-right:25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color:rgb(255, 0, 0);
}

.cart {
    position:relative;
border-right:1px solid #FFFFFF;
padding-right: 10px;
height:50px;
}

.cart-img {
    position:absolute;
    top:18px;
    right:7px;
}

.num {
    color:#fff;
    decoration: none;
    font-weight:700;
    transition: color 0.3s linear;

}

.num:hover {
    color:rgb(0, 174, 255);
}
.phone-text {
    font-size:14px;
    font-weight:400;
    color:white;
}

.phone-holder {
    display:flex;

}

.button {
    background-color: #FF7400;
    color:white;
    text-decoration-line: none;
    padding:14px 19px 14px 18px;
    font-weight:700;
    transition: color 0.2s linear;
}

.button:hover {
    background-color:#9c4a07;
}
.header-down {
    position:relative;
}
.header-title {
    color:#D67E35;
    font-family: 'Tinos', serif;
    font-size:50px;
    font-weight:400px;
    text-align: center;
    position:absolute;
    left:0;
    margin-top:222px;
    margin-bottom:12px;

}
.header-suptitle {
    color:white;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
}

.header-suptitle:after {
    position: absolute;
    content: "";
    height:2px;
    width:61px;
    background-color: white;
    top:127px;
    left:56px;
}

.header-suptitle:before {
    position: absolute;
    content: "";
    height:2px;
    width:61px;
    background-color: white;
    top:127px;
    left:308px;
}

.header-button {
background-color:#FF7400;
padding:14px 28px;
color:#fff;
font-size:14px;
font-weight:700;
font-family: 'Open Sans', sans-serif;
text-decoration: none;
transition: background-color 0.2s leniear;
}

.header-button:hover {
    color:rgba(145, 41, 4, 0.178);
}
